@namespace xlink 'http://www.w3.org/1999/xlink';


body {
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}


.polylineColorController{
    div.selectedColor {
        border: 2px solid red;
    }
}

.pageWrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;

    .panelContainer {
      background: gold;
    }

    .pageContentContainer{
      background: silver;
      position: relative;
      .divPage {
          width: 100%;
          height: 100vh;
          background: pink;
          position: absolute;
          left: 0;
          right: 0;

          .divLayer {
            width: 100%;
            height: 100vh;
            background: blue;
            position: absolute;
            left: 0;
            right: 0;
          }
      }

      .overviewModeDiv{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-row-gap: 15px;
          .divPageSmall {
              background: pink;
          }
      }

      .fullPageModeDiv[status="off"] {
          display: none;
      }
      .overviewModeDiv[status="off"] {
          display: none;
      }
    }

    .subPanel {
        .subPanelNavbar {
            height: 40px;
            background: lightgreen;
            display: grid;
            grid-template-columns: 9fr 1fr;
        }
        .subPanelContent{
            min-height: 300px;
            background: coral;
        }
        .subPanelContent[status="open"]{
            // display: grid;
            // grid-template-columns: 1fr 1fr;
        }
        .subPanelContent[status="close"]{
            display: none;

        }

        .subPanelItem{
            width: 50px;
            height: 50px;
            background: azure;
            margin: 0 auto;
        }
        .subPanelItem[status="on"]{
            background: yellow;
        }
    }
}

.bookmarkSubPanel{
    height: 230px;
    .subPanelContent[status="open"]{
        display: block !important;


        .functionButton{
            width: 90%;
            height: 30px;
            background: grey;
            margin: 10px auto;
        }
    }
}

.commentSubPanel{
    height: 230px;
}



.container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: black;
}

.pageContainer {

}


.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 8vh;
}

.pageViewController {
    height: 92svh;
    background: Aliceblue;
}


.latexContainer{
    $latexWidth: 800px;
    $latexHeight: 400px;
    .latexOutput{
        width: $latexWidth;
        height: $latexHeight;
        background: maroon;
    }
    .latexInput{
        width: $latexWidth;
        height: $latexHeight - 150px;
        background: pink;
    }
}


.layerController{
  margin: 10px;
    .layerView {
      background: grey;
      height: 150px;
    }

    .layerControllerFunction {
      background: lightblue;
      height: 50px;
    }

}


div.selectedObject{
  border: maroon 3px solid;
  // background: maroon !important;
  // opacity: 0.9;
}

svg.selectedObject{
  // background: maroon !important;
  border: 2px red solid
}

circle.selectedObject:hover {
  fill: blue
}

circle.selectedObject{
  r: 50 !important;
  stroke: maroon
}


.pkmContentContainerWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  .pkmContentContainer1, .pkmContentContainer2{
      width: 50vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .itemContainer {
    width: 200px;
    height: 300px;

    margin: 10px 20px;
  }

  .container1 {
      .navBar {
        background: green;
      }

      .pkmContentContainer1{
          background: red;
          .itemContainer {
              background: orange;
          }
      }
  }

  .container2 {
    .navBar {
        background: pink;
    }

    .pkmContentContainer2{
        background: purple;
        .itemContainer {
            background: lightgreen;
        }
    }
  }



}
