.cardContainer{
  position: fixed;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  height: 100%;
  top: 0px;
  left: 0px;
}

.notecardDisplay {
  padding: 10px;
  overflow-y: scroll;

}

.card {
  margin: 15px;
}
