@namespace xlink "http://www.w3.org/1999/xlink";
body {
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

.pageWrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}
.pageWrapper .panelContainer {
  background: gold;
}
.pageWrapper .pageContentContainer {
  background: silver;
  position: relative;
}
.pageWrapper .pageContentContainer .divPage {
  width: 100%;
  height: 100vh;
  background: pink;
  position: absolute;
  left: 0;
  right: 0;
}
.pageWrapper .pageContentContainer .overviewModeDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
}
.pageWrapper .pageContentContainer .overviewModeDiv .divPageSmall {
  background: pink;
}
.pageWrapper .pageContentContainer .fullPageModeDiv[status=off] {
  display: none;
}
.pageWrapper .pageContentContainer .overviewModeDiv[status=off] {
  display: none;
}
.pageWrapper .subPanel .subPanelNavbar {
  height: 40px;
  background: lightgreen;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.pageWrapper .subPanel .subPanelContent {
  min-height: 300px;
  background: coral;
}
.pageWrapper .subPanel .subPanelContent[status=open] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pageWrapper .subPanel .subPanelContent[status=close] {
  display: none;
}
.pageWrapper .subPanel .subPanelItem {
  width: 50px;
  height: 50px;
  background: azure;
  margin: 0 auto;
}
.pageWrapper .subPanel .subPanelItem[status=on] {
  background: yellow;
}

.bookmarkSubPanel .subPanelContent[status=open] {
  display: block !important;
}
.bookmarkSubPanel .subPanelContent[status=open] .functionButton {
  width: 90%;
  height: 30px;
  background: grey;
  margin: 10px auto;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: black;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 8vh;
}

.pageViewController {
  height: 92svh;
  background: Aliceblue;
}

.latexContainer .latexOutput {
  width: 800px;
  height: 400px;
  background: maroon;
}
.latexContainer .latexInput {
  width: 800px;
  height: 250px;
  background: pink;
}

div.selectedObject {
  border: maroon 5px solid;
  background: maroon !important;
}

svg.selectedObject {
  background: maroon !important;
  border: 2px red solid;
}

circle.selectedObject:hover {
  fill: blue;
}

circle.selectedObject {
  r: 50 !important;
  stroke: maroon;
}

.pkmContentContainerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
}
.pkmContentContainerWrapper .pkmContentContainer1, .pkmContentContainerWrapper .pkmContentContainer2 {
  width: 50vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pkmContentContainerWrapper .itemContainer {
  width: 200px;
  height: 300px;
  margin: 10px 20px;
}
.pkmContentContainerWrapper .container1 .navBar {
  background: green;
}
.pkmContentContainerWrapper .container1 .pkmContentContainer1 {
  background: red;
}
.pkmContentContainerWrapper .container1 .pkmContentContainer1 .itemContainer {
  background: orange;
}
.pkmContentContainerWrapper .container2 .navBar {
  background: pink;
}
.pkmContentContainerWrapper .container2 .pkmContentContainer2 {
  background: purple;
}
.pkmContentContainerWrapper .container2 .pkmContentContainer2 .itemContainer {
  background: lightgreen;
}

/*# sourceMappingURL=automerge_board.css.map */
