<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name= "viewport" content="width=device-width, initial-scaler=1" charset="utf-8">
    <title> Chatter </title>
    <!-- CSS only -->
    <script src="/socket.io/socket.io.js" charset="utf-8">
    </script>
    <link href="css/automerge.css" rel="stylesheet">

  </head>
  <body>
    <div class="cardContainer">
      <div class="cardInput">
        title: <br>
        <input class="title" name="name" rows="10" cols="100" value="Testing"></input><br><br>
        longVersion: <br>
        <textarea class="longVersion" name="name" rows="5" cols="100">1232</textarea><br>
        shortVersion: <br><br>
        <textarea class="shortVersion"  name="name" rows="5" cols="100">12312</textarea>
        <br>
        <input class="submitData" type="submit" name="submitData" value="submitData">
        <input class="updateData" type="submit" name="updateData" value="updateData">
        <input class="loadData" type="submit" name="loadData" value="loadData">
      </div>
      <div class="notecardDisplay">

      </div>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/automerge@0.14.2/dist/automerge.min.js" charset="utf-8"></script>
  <script src="js/automerge_test.js" charset="utf-8"></script>

</html>
