<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name= "viewport" content="width=device-width, initial-scaler=1" charset="utf-8">
    <title> Chatter </title>
    <link href="../css/automerge_board.css" rel="stylesheet">
  </head>

  <body>



    <template id="subPanelTemplate">
      <div class="subPanel">
          <div class="subPanelNavbar">
            <span class="subPanelTitle"></span>
            <span class="subPanelSwitch">-</span>
          </div>
          <div class="subPanelContent"></div>

      </div>
    </template>
    <template id="subPanelItemTemplate">
      <div class="subPanelItem"></div>
    </template>
    <template id="editControllerTemplate">
      <div class="editController">
          <button class="copyButton"> copy </button>
          <button class="linkButton"> link </button>
          <button class="deleteButton"> delete </button>
      </div>
    </template>

    <template id="layerControllerTemplate">
      <div class="layerController">
          <div class="layerView"></div>
          <div class="layerControllerFunction">
              <button class="addDivLayerButton" type="button" name="button">addDivLayer</button>
              <button class="addSvgLayerButton" type="button" name="button">addSvgLayer</button>
              <button class="showCurrentPageButton" type="button" name="button">showCurrentPage</button>
          </div>
      </div>
    </template>



    <!-- <div class="latexContainer">
        <div class="latexOutput">

        </div>
        <div class="latexInput" contenteditable="true"></div>
    </div> -->

    <div class="pageWrapper">
        <div class="panelContainer">

        </div>
        <div class="pageContentContainer">
            <div class="fullPageModeDiv"></div>
            <div class="overviewModeDiv"></div>
        </div>
    </div>


    <div class="contentContainer"></div>

  </body>



  <script src="/socket.io/socket.io.js" charset="utf-8">
  </script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/automerge@0.14.2/dist/automerge.min.js" charset="utf-8"></script> -->
  <!-- <script src="../js/dbtest.js" charset="utf-8"></script> -->
  <script src="../js/smallTest.js" charset="utf-8"></script>
  <script type="text/javascript">

  </script>
</html>
