<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name= "viewport" content="width=device-width, initial-scaler=1" charset="utf-8">
    <title> Chatter </title>
    <!-- <link href="css/board.css" rel="stylesheet"> -->
  </head>

  <body>
    <!-- <div class="container">
      <div class="tools-section">
        <div class="color-picker-container">
          Select Brush Color: &nbsp;
            <input type="color" />
        </div>
        <div class="brushsize-container">
          Select Brush Size: &nbsp;
            <select>
              <option> 5 </option>
              <option> 10 </option>
              <option> 15</option>
              <option> 20 </option>
              <option> 25 </option>
              <option> 30 </option>
            </select>
        </div>
      </div>

        <div class="board-container">
            <div class="sketch" id="sketch">
              <canvas class="board" id="board"></canvas>
            </div>
        </div>
    </div> -->


  </body>
  <script src="/socket.io/socket.io.js" charset="utf-8">
  </script>
  <!-- <script src="js/board.js" charset="utf-8"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/automerge@0.14.2/dist/automerge.min.js" charset="utf-8"></script>
  <script src="../js/smallTest.js" charset="utf-8"></script>
  <script type="text/javascript">

  </script>
</html>
