<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name= "viewport" content="width=device-width" user-scalable="no" charset="utf-8">
    <title> Chatter </title>
    <link href="../css/automerge_board.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  </head>

  <body oncontextmenu="return false;">



    <template id="subPanelTemplate">
      <div class="subPanel">
          <div class="subPanelNavbar">
            <span class="subPanelTitle"></span>
            <span class="subPanelSwitch">-</span>
          </div>
          <div class="subPanelContent"></div>

      </div>
    </template>

    <!-- * {
        display: none;
    } -->

    <template id="layerRowTemplate">
      <div class="layerRow">
            <div class="viewSwitch" status="on">
                <i class="material-icons visibility">visibility</i>
            </div>
            <div class="viewName"></div>
            <div class="expandSwitch" status="off">
                <i class="material-icons expand_more">expand_more</i>
                <i class="material-icons expand_less">expand_less</i>
           </div>
      </div>
    </template>

    <template id="subPanelItemTemplate">
      <div class="subPanelItem"></div>
    </template>
    <template id="editControllerTemplate">
      <div class="editController">
          <div class="attributePanel"></div>
          <button class="copyButton"> copy </button>
          <button class="linkButton"> link </button>
          <button class="deleteButton"> delete </button>
      </div>
    </template>

    <template id="layerControllerTemplate">
      <div class="layerController">
          <div class="layerView"></div>
          <div class="layerControllerFunction">
              <button class="addDivLayerButton" type="button" name="button">addDivLayer</button>
              <button class="addSvgLayerButton" type="button" name="button">addSvgLayer</button>
              <button class="showCurrentPageButton" type="button" name="button">showCurrentPage</button>
          </div>
      </div>
    </template>



    <!-- <div class="latexContainer">
        <div class="latexOutput">

        </div>
        <div class="latexInput" contenteditable="true"></div>
    </div> -->

    <div class="pageWrapper">
        <div class="panelContainer">
            <div class="testInfo">
                testtesttesttesttesttesttest
            </div>

        </div>
          <div class="pageContentContainer">
            <div class="fullPageModeDiv"></div>
            <div class="overviewModeDiv"></div>
        </div>
    </div>


    <div class="contentContainer"></div>
    <div class="testField open"></div>
  </body>



  <script src="/socket.io/socket.io.js" charset="utf-8">
  </script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/automerge@0.14.2/dist/automerge.min.js" charset="utf-8"></script> -->
  <!-- <script src="../js/dbtest.js" charset="utf-8"></script> -->
  <script src="../js/smallTest.js" charset="utf-8"></script>
  <script type="text/javascript">

  </script>
</html>
