<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" crossorigin="anonymous">
    <title> Simple Rich Text Editor </title>
    <style media="screen">
    .resizable {
      display: block;
      resize: both;
      overflow: hidden;
      line-height: 0;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      }

      .resizable img {
        width: 100%;
        height: auto;
      }
    </style>
    <link href="css/board.css" rel="stylesheet">
  </head>

  <body>
    <div class="annotationsController">

    </div>
    <div id="mainContainer"></div>
    <div id="svgContainer"></div>
  </body>

  <!-- <script src="DIRECTORY/mainController.js" charset="utf-8"></script>
  <script src="DIRECTORY/Annotations.js" charset="utf-8"></script> -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" charset="utf-8"></script>
  <script src="DIRECTORY/Layer.js" charset="utf-8"></script>

  <script>
      let testTextArea = document.querySelector("#testTextArea")


  </script>
  <!-- { command: "italic", type: "button", innerHTML: "italic" }, -->
</html>
